@tailwind base;
@tailwind components;
@tailwind utilities;

.navContainer {
    display: flex-col;
    position: fixed;
    top: 0; 
    left: 0;
    bottom: 0;
    right: 0;
    width: auto;
    height: 20vh;
    background-color:rgb(40, 38, 38)
    
   }

    .mainContainer{
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100vh;
        content: "";
        position:initial;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        background-image: url("/src/imagenes/ovejas3.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        /* background-attachment: no */
        background-position: center;    
    } 
/* <div class="w-full h-full bg-auto bg-[url('../src/imagenes/ovejas3.jpg')]"> */